/* FLEXBOX */

.flex,
.flex-top,
.flex-center,
.flex-bottom,
[class*='flex-'] {
  display: flex;
}

.flex > *,
.flex-top > *,
.flex-center > *,
.flex-bottom > * {
  flex: 1 1 0;
}

.flex-top {
  align-items: flex-start;
}

.flex-center {
  align-items: center;
}

.flex-bottom {
  align-items: flex-end;
}

/* Start */

.flex-s,
[class*='flex-s-'] { justify-content: flex-start; }

.flex-s-s { align-items: flex-start; }

.flex-s-st { align-items: stretch; }

.flex-s-b { align-items: baseline; }

.flex-s-c { align-items: center; }

.flex-s-e { align-items: flex-end; }

/* Center */

[class*='flex-c-'] { justify-content: center; }

.flex-c-s { align-items: flex-start; }

.flex-c-st { align-items: stretch; }

.flex-c-b { align-items: baseline; }

.flex-c-e { align-items: flex-end; }

.flex-c { justify-content: center; align-items: center; }

.flex-c-x { justify-content: center; }

.flex-c-y { align-items: center; }

/* Space Between */

.flex-b,
[class*='flex-b-'] { justify-content: space-between; }

.flex-b-s { align-items: flex-start; }

.flex-b-st { align-items: stretch; }

.flex-b-b { align-items: baseline; }

.flex-b-c { align-items: center; }

.flex-b-e { align-items: flex-end; }

/* Space Around */

.flex-a,
[class*='flex-a-'] { justify-content: space-around; }

.flex-a-s { align-items: flex-start; }

.flex-a-st { align-items: stretch; }

.flex-a-b { align-items: baseline; }

.flex-a-c { align-items: center; }

.flex-a-e { align-items: flex-end; }

/* End */

.flex-e,
[class*='flex-e-'] { justify-content: flex-end; }

.flex-e-s { align-items: flex-start; }

.flex-e-st { align-items: stretch; }

.flex-e-b { align-items: baseline; }

.flex-e-c { align-items: center; }

.flex-e-e { align-items: flex-end; }

@media (min-width: 48rem) { /* 768/16 */

  /* Start */

  .sm-flex-s,
  [class*='sm-flex-s-'] { justify-content: flex-start; }

  .sm-flex-s-s { align-items: flex-start; }

  .sm-flex-s-st { align-items: stretch; }

  .sm-flex-s-b { align-items: baseline; }

  .sm-flex-s-c { align-items: center; }

  .sm-flex-s-e { align-items: flex-end; }

  /* Center */

  [class*='sm-flex-c-'] { justify-content: center; }

  .sm-flex-c-s { align-items: flex-start; }

  .sm-flex-c-st { align-items: stretch; }

  .sm-flex-c-b { align-items: baseline; }

  .sm-flex-c-e { align-items: flex-end; }

  .sm-flex-c { justify-content: center; align-items: center; }

  .sm-flex-c-x { justify-content: center; }

  .sm-flex-c-y { align-items: center; }

  /* Space Between */

  .sm-flex-b,
  [class*='sm-flex-b-'] { justify-content: space-between; }

  .sm-flex-b-s { align-items: flex-start; }

  .sm-flex-b-st { align-items: stretch; }

  .sm-flex-b-b { align-items: baseline; }

  .sm-flex-b-c { align-items: center; }

  .sm-flex-b-e { align-items: flex-end; }

  /* Space Around */

  .sm-flex-a,
  [class*='sm-flex-a-'] { justify-content: space-around; }

  .sm-flex-a-s { align-items: flex-start; }

  .sm-flex-a-st { align-items: stretch; }

  .sm-flex-a-b { align-items: baseline; }

  .sm-flex-a-c { align-items: center; }

  .sm-flex-a-e { align-items: flex-end; }

  /* End */

  .sm-flex-e,
  [class*='sm-flex-e-'] { justify-content: flex-end; }

  .sm-flex-e-s { align-items: flex-start; }

  .sm-flex-e-st { align-items: stretch; }

  .sm-flex-e-b { align-items: baseline; }

  .sm-flex-e-c { align-items: center; }

  .sm-flex-e-e { align-items: flex-end; }

}

@media (min-width: 62rem) { /* 992/16 */

  /* Start */

  .md-flex-s,
  [class*='md-flex-s-'] { justify-content: flex-start; }

  .md-flex-s-s { align-items: flex-start; }

  .md-flex-s-st { align-items: stretch; }

  .md-flex-s-b { align-items: baseline; }

  .md-flex-s-c { align-items: center; }

  .md-flex-s-e { align-items: flex-end; }

  /* Center */

  [class*='md-flex-c-'] { justify-content: center; }

  .md-flex-c-s { align-items: flex-start; }

  .md-flex-c-st { align-items: stretch; }

  .md-flex-c-b { align-items: baseline; }

  .md-flex-c-e { align-items: flex-end; }

  .md-flex-c { justify-content: center; align-items: center; }

  .md-flex-c-x { justify-content: center; }

  .md-flex-c-y { align-items: center; }

  /* Space Between */

  .md-flex-b,
  [class*='md-flex-b-'] { justify-content: space-between; }

  .md-flex-b-s { align-items: flex-start; }

  .md-flex-b-st { align-items: stretch; }

  .md-flex-b-b { align-items: baseline; }

  .md-flex-b-c { align-items: center; }

  .md-flex-b-e { align-items: flex-end; }

  /* Space Around */

  .md-flex-a,
  [class*='md-flex-a-'] { justify-content: space-around; }

  .md-flex-a-s { align-items: flex-start; }

  .md-flex-a-st { align-items: stretch; }

  .md-flex-a-b { align-items: baseline; }

  .md-flex-a-c { align-items: center; }

  .md-flex-a-e { align-items: flex-end; }

  /* End */

  .md-flex-e,
  [class*='md-flex-e-'] { justify-content: flex-end; }

  .md-flex-e-s { align-items: flex-start; }

  .md-flex-e-st { align-items: stretch; }

  .md-flex-e-b { align-items: baseline; }

  .md-flex-e-c { align-items: center; }

  .md-flex-e-e { align-items: flex-end; }

}

@media (min-width: 75rem) { /* 1200/16 */

  /* Start */

  .lg-flex-s,
  [class*='lg-flex-s-'] { justify-content: flex-start; }

  .lg-flex-s-s { align-items: flex-start }

  .lg-flex-s-st { align-items: stretch; }

  .lg-flex-s-b { align-items: baseline; }

  .lg-flex-s-c { align-items: center; }

  .lg-flex-s-e { align-items: flex-end; }

  /* Center */

  [class*='lg-flex-c-'] { justify-content: center; }

  .lg-flex-c-s { align-items: flex-start; }

  .lg-flex-c-st { align-items: stretch; }

  .lg-flex-c-b { align-items: baseline; }

  .lg-flex-c-e { align-items: flex-end; }

  .lg-flex-c { justify-content: center; align-items: center; }

  .lg-flex-c-x { justify-content: center; }

  .lg-flex-c-y { align-items: center; }

  /* Space Between */

  .lg-flex-b,
  [class*='lg-flex-b-'] { justify-content: space-between; }

  .lg-flex-b-s { align-items: flex-start; }

  .lg-flex-b-st { align-items: stretch; }

  .lg-flex-b-b { align-items: baseline; }

  .lg-flex-b-c { align-items: center; }

  .lg-flex-b-e { align-items: flex-end; }

  /* Space Around */

  .lg-flex-a,
  [class*='lg-flex-a-'] { justify-content: space-around; }

  .lg-flex-a-s { align-items: flex-start; }

  .lg-flex-a-st { align-items: stretch; }

  .lg-flex-a-b { align-items: baseline; }

  .lg-flex-a-c { align-items: center; }

  .lg-flex-a-e { align-items: flex-end; }

  /* End */

  .lg-flex-e,
  [class*='lg-flex-e-'] { justify-content: flex-end; }

  .lg-flex-e-s { align-items: flex-start; }

  .lg-flex-e-st { align-items: stretch; }

  .lg-flex-e-b { align-items: baseline; }

  .lg-flex-e-c { align-items: center; }

  .lg-flex-e-e { align-items: flex-end; }

}
