/*
GRID

Extra small (xs): <576px
Small (sm): ≥576px
Medium (md): ≥768px
Large (lg): ≥992px
Extra large (xl): ≥1200px
Extra extra large (xxl): ≥1400px
*/

/*==============================
VARIABLES
==============================*/

:root {
  --primary: #ffffff;
  --secondary: #000000;
}

/*==============================
HELPER CLASSES
==============================*/

/* TEXT CONTINUED */

.text-continued {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* CENTER */

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Horizontal center */

.center-absolute-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Vertical center */

.center-absolute-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* BACKGROUND IMAGE */

.bg-image-contain,
.bg-image-cover {
  background-repeat: no-repeat;
  background-position: center;
}

/* Contain */

.bg-image-contain {
  background-size: contain;
}

/* Cover */

.bg-image-cover {
  background-size: cover;
}

/* DISABLES CURSOR ACTIONS ON THE ELEMENT */

.disabled-cursor {
  pointer-events: none;
}

/*============================== PLUGINS ==============================*/
/*==============================
ANIMATE CSS
==============================*/

.animated {
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: both;
}

/* FADE IN */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

/* FADE IN UP */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

/* FADE IN LEFT */

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

/* FADE IN RIGHT */

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInRight {
  animation-name: fadeInRight;
}

/* FADE IN DOWN */

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

/* ZOOM IN */

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

/*==============================
PRETTY CHECKBOX
==============================*/

/* PRIMARY */

.pretty.p-default:not(.p-fill) input:checked ~ .state.p-primary-o label:after {
  background-color: var(--primary) !important;
}

.pretty input:checked ~ .state.p-primary label:after,
.pretty.p-toggle .state.p-primary label:after {
  background-color: var(--primary) !important;
}

.pretty input:checked ~ .state.p-primary-o label:before,
.pretty.p-toggle .state.p-primary-o label:before {
  border-color: var(--primary);
}

.pretty input:checked ~ .state.p-primary-o .icon,
.pretty input:checked ~ .state.p-primary-o .svg,
.pretty input:checked ~ .state.p-primary-o svg,
.pretty.p-toggle .state.p-primary-o .icon,
.pretty.p-toggle .state.p-primary-o .svg,
.pretty.p-toggle .state.p-primary-o svg {
  color: var(--primary);
  stroke: var(--primary);
}

.pretty.p-switch input:checked ~ .state.p-primary:before {
  border-color: var(--primary);
}

.pretty.p-switch.p-fill input:checked ~ .state.p-primary:before {
  background-color: var(--primary) !important;
}

.pretty.p-switch.p-slim input:checked ~ .state.p-primary:before {
  border-color: darken(var(--primary), 15%);
  background-color: darken(var(--primary), 15%) !important;
}

/* SUCCESS */

.pretty.p-default:not(.p-fill) input:checked ~ .state.p-success-o label:after {
  background-color: #37c991 !important;
}

.pretty input:checked ~ .state.p-success label:after,
.pretty.p-toggle .state.p-success label:after {
  background-color: #37c991 !important;
}

.pretty input:checked ~ .state.p-success-o label:before,
.pretty.p-toggle .state.p-success-o label:before {
  border-color: #37c991;
}

.pretty input:checked ~ .state.p-success-o .icon,
.pretty input:checked ~ .state.p-success-o .svg,
.pretty input:checked ~ .state.p-success-o svg,
.pretty.p-toggle .state.p-success-o .icon,
.pretty.p-toggle .state.p-success-o .svg,
.pretty.p-toggle .state.p-success-o svg {
  color: #37c991;
  stroke: #37c991;
}

.pretty.p-switch input:checked ~ .state.p-success:before {
  border-color: #37c991;
}

.pretty.p-switch.p-fill input:checked ~ .state.p-success:before {
  background-color: #37c991 !important;
}

.pretty.p-switch.p-slim input:checked ~ .state.p-success:before {
  border-color: darken(#37c991, 15%);
  background-color: darken(#37c991, 15%) !important;
}

/* INFO */

.pretty.p-default:not(.p-fill) input:checked ~ .state.p-info-o label:after {
  background-color: #5dd7ea !important;
}

.pretty input:checked ~ .state.p-info label:after,
.pretty.p-toggle .state.p-info label:after {
  background-color: #5dd7ea !important;
}

.pretty input:checked ~ .state.p-info-o label:before,
.pretty.p-toggle .state.p-info-o label:before {
  border-color: #5dd7ea;
}

.pretty input:checked ~ .state.p-info-o .icon,
.pretty input:checked ~ .state.p-info-o .svg,
.pretty input:checked ~ .state.p-info-o svg,
.pretty.p-toggle .state.p-info-o .icon,
.pretty.p-toggle .state.p-info-o .svg,
.pretty.p-toggle .state.p-info-o svg {
  color: #5dd7ea;
  stroke: #5dd7ea;
}

.pretty.p-switch input:checked ~ .state.p-info:before {
  border-color: #5dd7ea;
}

.pretty.p-switch.p-fill input:checked ~ .state.p-info:before {
  background-color: #5dd7ea !important;
}

.pretty.p-switch.p-slim input:checked ~ .state.p-info:before {
  border-color: darken(#5dd7ea, 15%);
  background-color: darken(#5dd7ea, 15%) !important;
}

/* WARNING */

.pretty.p-default:not(.p-fill) input:checked ~ .state.p-warning-o label:after {
  background-color: #ffb23e !important;
}

.pretty input:checked ~ .state.p-warning label:after,
.pretty.p-toggle .state.p-warning label:after {
  background-color: #ffb23e !important;
}

.pretty input:checked ~ .state.p-warning-o label:before,
.pretty.p-toggle .state.p-warning-o label:before {
  border-color: #ffb23e;
}

.pretty input:checked ~ .state.p-warning-o .icon,
.pretty input:checked ~ .state.p-warning-o .svg,
.pretty input:checked ~ .state.p-warning-o svg,
.pretty.p-toggle .state.p-warning-o .icon,
.pretty.p-toggle .state.p-warning-o .svg,
.pretty.p-toggle .state.p-warning-o svg {
  color: #ffb23e;
  stroke: #ffb23e;
}

.pretty.p-switch input:checked ~ .state.p-warning:before {
  border-color: #ffb23e;
}

.pretty.p-switch.p-fill input:checked ~ .state.p-warning:before {
  background-color: #ffb23e !important;
}

.pretty.p-switch.p-slim input:checked ~ .state.p-warning:before {
  border-color: darken(#ffb23e, 15%);
  background-color: darken(#ffb23e, 15%) !important;
}

/* DANGER */

.pretty.p-default:not(.p-fill) input:checked ~ .state.p-danger-o label:after {
  background-color: #ff6a79 !important;
}

.pretty input:checked ~ .state.p-danger label:after,
.pretty.p-toggle .state.p-danger label:after {
  background-color: #ff6a79 !important;
}

.pretty input:checked ~ .state.p-danger-o label:before,
.pretty.p-toggle .state.p-danger-o label:before {
  border-color: #ff6a79;
}

.pretty input:checked ~ .state.p-danger-o .icon,
.pretty input:checked ~ .state.p-danger-o .svg,
.pretty input:checked ~ .state.p-danger-o svg,
.pretty.p-toggle .state.p-danger-o .icon,
.pretty.p-toggle .state.p-danger-o .svg,
.pretty.p-toggle .state.p-danger-o svg {
  color: #ff6a79;
  stroke: #ff6a79;
}

.pretty.p-switch input:checked ~ .state.p-danger:before {
  border-color: #ff6a79;
}

.pretty.p-switch.p-fill input:checked ~ .state.p-danger:before {
  background-color: #ff6a79 !important;
}

.pretty.p-switch.p-slim input:checked ~ .state.p-danger:before {
  border-color: darken(#ff6a79, 15%);
  background-color: darken(#ff6a79, 15%) !important;
}

/*==============================
SCROLL MOUSE
==============================*/

@keyframes intro {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes finger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

/* SCROLL MOUSE */

.scroll-mouse {
  width: 22px;
  height: 42px;
  border-radius: 15px;
  border: 2px solid #fff;
  margin-left: -12px;
  animation: intro 1s;
  position: absolute;
  left: 50%;
  bottom: 40px;
}

/* SCROLL ACTION */

.scroll-action {
  width: 3px;
  height: 3px;
  display: block;
  margin: 6px auto;
  border-radius: 4px;
  background: #fff;
  animation: finger 1s infinite;
}

/*============================== LAYOUT ==============================*/
/*==============================
GENERAL
==============================*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

[aria-hidden='true'] {
  display: none !important;
}

/* FONTS */

/* NOME DA FONTE */

@font-face {
  font-family: 'Nome da Fonte';
  font-display: swap;
  src: url('../assets/fonts/nome-da-fonte/webfont.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/nome-da-fonte/webfont.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../assets/fonts/nome-da-fonte/webfont.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../assets/fonts/nome-da-fonte/webfont.woff') format('woff'),
    /* Pretty Modern Browsers */ url('../assets/fonts/nome-da-fonte/webfont.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../assets/fonts/nome-da-fonte/webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* NOME DA FONTE */

/* Ultra Light */

@font-face {
  font-family: 'San Francisco';
  font-weight: 100;
  font-display: swap;
  src: url('../assets/fonts/nome-da-fonte/nome-da-fonte-ultralight-webfont.woff');
}

/* Thin */

@font-face {
  font-family: 'San Francisco';
  font-weight: 200;
  font-display: swap;
  src: url('../assets/fonts/nome-da-fonte/nome-da-fonte-thin-webfont.woff');
}

/* Regular */

@font-face {
  font-family: 'San Francisco';
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/nome-da-fonte/nome-da-fonte-regular-webfont.woff');
}

/* Medium */

@font-face {
  font-family: 'San Francisco';
  font-weight: 500;
  font-display: swap;
  src: url('../assets/fonts/nome-da-fonte/nome-da-fonte-medium-webfont.woff');
}

/* Semi Bold */

@font-face {
  font-family: 'San Francisco';
  font-weight: 600;
  font-display: swap;
  src: url('../assets/fonts/nome-da-fonte/nome-da-fonte-semibold-webfont.woff');
}

/* Bold */

@font-face {
  font-family: 'San Francisco';
  font-weight: 700;
  font-display: swap;
  src: url('../assets/fonts/nome-da-fonte/nome-da-fonte-bold-webfont.woff');
}

/* BODY */

body {
  font-family: 'Nome da Fonte', Arial, sans-serif;
}

/* SCROLLBAR */

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #c1c8cc;
}

/* LINKS */

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

/* BUTTONS */

button {
  font: inherit;
  border: none;
  cursor: pointer;
}

.btn:hover,
.btn:focus,
.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled).active:focus,
.btn:not(:disabled):not(.disabled):active:focus,
.show > .btn.dropdown-toggle,
.show > .btn.dropdown-toggle:focus,
.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active,
.show > .btn.dropdown-toggle {
  box-shadow: none !important;
  transition: all 0.4s ease;
}

/* btn-link */

.btn-link:hover,
.btn.btn-link:focus,
.btn.btn-link:active {
  text-decoration: none;
}

/* btn-primary */

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle,
.show > .btn-primary.dropdown-toggle:focus {
  background-color: var(--primary)-strong;
  border-color: var(--primary)-strong;
}

.btn-outline-primary {
  color: var(--primary);
  border-color: var(--primary);
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: var(--primary)-strong;
  border-color: var(--primary)-strong;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  background-color: var(--primary)-strong;
  border-color: var(--primary)-strong;
}

/* btn-secondary */

.btn-secondary {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle,
.show > .btn-secondary.dropdown-toggle:focus {
  background-color: var(--secondary)-strong;
  border-color: var(--secondary)-strong;
}

.btn-outline-secondary {
  color: var(--secondary);
  border-color: var(--secondary);
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: var(--secondary)-strong;
  border-color: var(--secondary)-strong;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show > .btn-outline-secondary.dropdown-toggle {
  background-color: var(--secondary)-strong;
  border-color: var(--secondary)-strong;
}

/* btn-success */

.btn-success {
  background-color: #37c991;
  border-color: #37c991;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-success.dropdown-toggle,
.show > .btn-success.dropdown-toggle:focus {
  background-color: #32b784;
  border-color: #32b784;
}

.btn-outline-success {
  color: #37c991;
  border-color: #37c991;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #32b784;
  border-color: #32b784;
}

.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active,
.show > .btn-outline-success.dropdown-toggle {
  background-color: #32b784;
  border-color: #32b784;
}

/* btn-info */

.btn-info {
  background-color: #5dd7ea;
  border-color: #5dd7ea;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus,
.show > .btn-info.dropdown-toggle,
.show > .btn-info.dropdown-toggle:focus {
  background-color: #55c4d5;
  border-color: #55c4d5;
}

.btn-outline-info {
  color: #5dd7ea;
  border-color: #5dd7ea;
}

.btn-outline-info:hover {
  color: #fff;
  background-color: #55c4d5;
  border-color: #55c4d5;
}

.btn-outline-info:not(:disabled):not(.disabled).active,
.btn-outline-info:not(:disabled):not(.disabled):active,
.show > .btn-outline-info.dropdown-toggle {
  background-color: #55c4d5;
  border-color: #55c4d5;
}

/* btn-warning */

.btn-warning {
  color: #fff;
  background-color: #ffb23e;
  border-color: #ffb23e;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn-warning:not(:disabled):not(.disabled):active:focus,
.show > .btn-warning.dropdown-toggle,
.show > .btn-warning.dropdown-toggle:focus {
  color: #fff;
  background-color: #dcbf56;
  border-color: #dcbf56;
}

.btn-outline-warning {
  color: #ffb23e;
  border-color: #ffb23e;
}

.btn-outline-warning:hover {
  color: #fff;
  background-color: #dcbf56;
  border-color: #dcbf56;
}

.btn-outline-warning:not(:disabled):not(.disabled).active,
.btn-outline-warning:not(:disabled):not(.disabled):active,
.show > .btn-outline-warning.dropdown-toggle {
  color: #fff;
  background-color: #dcbf56;
  border-color: #dcbf56;
}

/* btn-danger */

.btn-danger {
  background-color: #ff6a79;
  border-color: #ff6a79;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.show > .btn-danger.dropdown-toggle,
.show > .btn-danger.dropdown-toggle:focus {
  background-color: #e8616e;
  border-color: #e8616e;
}

.btn-outline-danger {
  color: #ff6a79;
  border-color: #ff6a79;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #e8616e;
  border-color: #e8616e;
}

.btn-outline-danger:not(:disabled):not(.disabled).active,
.btn-outline-danger:not(:disabled):not(.disabled):active,
.show > .btn-outline-danger.dropdown-toggle {
  background-color: #e8616e;
  border-color: #e8616e;
}

/* btn-light */

.btn-light {
  color: #000;
  background-color: #fff;
  border-color: #d2d9e8;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus,
.show > .btn-light.dropdown-toggle,
.show > .btn-light.dropdown-toggle:focus {
  background-color: #eff3f6;
  border-color: #d2d9e8;
}

.btn-outline-light {
  color: #fff;
  border-color: #fff;
}

.btn-outline-light:hover {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

.btn-outline-light:not(:disabled):not(.disabled).active,
.btn-outline-light:not(:disabled):not(.disabled):active,
.show > .btn-outline-light.dropdown-toggle {
  background-color: #eff3f6;
  border-color: #eff3f6;
}

/* btn-dark */

.btn-dark {
  background-color: #343a40;
  border-color: #343a40;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:not(:disabled):not(.disabled).active,
.btn-dark:not(:disabled):not(.disabled):active,
.btn-dark:not(:disabled):not(.disabled).active:focus,
.btn-dark:not(:disabled):not(.disabled):active:focus,
.show > .btn-dark.dropdown-toggle,
.show > .btn-dark.dropdown-toggle:focus {
  background-color: #23272b;
  border-color: #23272b;
}

.btn-outline-dark {
  color: #343a40;
  border-color: #343a40;
}

.btn-outline-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #23272b;
}

.btn-outline-dark:not(:disabled):not(.disabled).active,
.btn-outline-dark:not(:disabled):not(.disabled):active,
.show > .btn-outline-dark.dropdown-toggle {
  background-color: #23272b;
  border-color: #23272b;
}

/* ALERTS */

.alert-primary,
.alert-secondary,
.alert-success,
.alert-info,
.alert-warning,
.alert-danger,
/* .alert-light, */
.alert-dark {
  color: #fff;
  border: none;
}

/* alert-primary */

.alert-primary {
  background-color: var(--primary);
}

/* alert-secondary */

.alert-secondary {
  background-color: var(--secondary);
}

/* alert-success */

.alert-success {
  background-color: #37c991;
}

/* alert-info */

.alert-info {
  background-color: #5dd7ea;
}

/* alert-warning */

.alert-warning {
  background-color: #ffb23e;
}

/* alert-danger */

.alert-danger {
  background-color: #ff6a79;
}

/* alert-light */

.alert-light {
  background-color: #eff3f6;
}

/* alert-dark */

.alert-dark {
  background-color: #343a40;
}

/* BADGES */

.badge-primary,
.badge-secondary,
.badge-success,
.badge-info,
.badge-warning,
.badge-danger,
/* .badge-light, */
.badge-dark {
  color: #fff;
}

/* badge-primary */

.badge-primary {
  background-color: var(--primary);
}

/* badge-secondary */

.badge-secondary {
  background-color: var(--secondary);
}

/* badge-success */

.badge-success {
  background-color: #37c991;
}

/* badge-info */

.badge-info {
  background-color: #5dd7ea;
}

/* badge-warning */

.badge-warning {
  background-color: #ffb23e;
}

/* badge-danger */

.badge-danger {
  background-color: #ff6a79;
}

/* badge-light */

.badge-light {
  background-color: #eff3f6;
}

/* badge-dark */

.badge-dark {
  background-color: #343a40;
}

/* TOOLTIPS */

.tooltip-inner {
  color: #fff;
  background-color: #000;
}

.bs-tooltip-auto[x-placement^='top'] .arrow::before,
.bs-tooltip-top .arrow::before {
  border-top-color: #000;
}

.bs-tooltip-auto[x-placement^='right'] .arrow::before,
.bs-tooltip-right .arrow::before {
  border-right-color: #000;
}

.bs-tooltip-auto[x-placement^='bottom'] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #000;
}

.bs-tooltip-auto[x-placement^='left'] .arrow::before,
.bs-tooltip-left .arrow::before {
  border-left-color: #000;
}

/* FORMS */

/* Input */

.form-control,
.form-control:focus {
  border-color: #d0d7e5;
  box-shadow: none;
}

.form-control::-webkit-input-placeholder {
  color: #c5cbd8;
}

.form-control::-moz-placeholder {
  color: #c5cbd8;
}

.form-control[type='number']::-webkit-inner-spin-button,
.form-control[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Textarea */

textarea {
  max-width: 100%;
}

/*==============================
HEADER
==============================*/

/* MENU */

#menu-button {
  font: inherit;
  text-transform: none;
  color: inherit;
  display: inline-block;
  box-sizing: content-box;
  height: 25px;
  padding: 15px;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
}

#menu-button:hover {
  opacity: 0.7;
}

#menu-button * {
  pointer-events: none;
}

#menu-button .box {
  display: inline-block;
  width: 30px;
  height: 100%;
  position: relative;
}

#menu-button .box .inner {
  display: block;
  margin-top: -2px;
  top: 2px;
}

#menu-button .box .inner,
#menu-button .box .inner::before,
#menu-button .box .inner::after {
  width: 100%;
  height: 2px;
  background-color: #32393f;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

#menu-button .box .inner::before,
#menu-button .box .inner::after {
  content: '';
  display: block;
}

#menu-button .box .inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}

#menu-button .box .inner::after {
  top: 20px;
  bottom: -10px;
}

#menu-button[aria-expanded='true'] .box .inner {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

#menu-button[aria-expanded='true'] .box .inner::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}

#menu-button[aria-expanded='true'] .box .inner::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}

header {
}

/*==============================
BODY
==============================*/

/* PAGE SECTION */

.page-section {
  box-sizing: content-box;
  padding: 100px 0;
}

/* TITLE */

.page-title {
}

.page-subtitle {
}

.section-title {
}

.section-subtitle {
}

/*==============================
FOOTER
==============================*/

footer {
}

/* SOCIAL NETWORKS */

.social-networks a {
  font-size: 0;
  width: 25px;
  height: 25px;
  display: inline-block;
}

.social-networks a::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Facebook */

.social-networks a[href*='facebook.com']::before {
  background-image: url('../assets/icons/social-networks/facebook.svg');
}

/* Twitter */

.social-networks a[href*='twitter.com']::before {
  background-image: url('../assets/icons/social-networks/twitter.svg');
}

/* Instagram */

.social-networks a[href*='instagram.com']::before {
  background-image: url('../assets/icons/social-networks/instagram.svg');
}

/* Linkedin */

.social-networks a[href*='linkedin.com']::before {
  background-image: url('../assets/icons/social-networks/linkedin.svg');
}

/*============================== HOME PAGE ==============================*/
