// COLORS
$primary: #fff;
$secondary: #000;

// FONTS
$font-primary: 'Roboto', sans-serif;

// TRANSITIONS
$transition-all: all 0.4s ease;

// GRID BREAKPOINTS
$grid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1120px,
);
