# Folders
.cache
.idea
.vite
.vscode
blob-report
dist
dist-ssr
logs
node_modules
playwright-report
playwright/.cache
test-results

# Files
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.DS_Store
!.vscode/extensions.json