/* FOOTER
==============================*/

/* SOCIAL NETWORKS */

.social-networks {
	a {
		width: 25px;
	  height: 25px;
	  display: inline-block;

		&::before {
			content: '';
		  display: block;
		  width: 100%;
		  height: 100%;
		  background-repeat: no-repeat;
		  background-size: cover;
		  background-position: center;
		}

		/* Facebook */

		&[href*='facebook.com']::before {
		  background-image: url('../img/icons/social-networks/facebook.svg');
		}

		/* Twitter */

		&[href*='twitter.com']::before {
		  background-image: url('../img/icons/social-networks/twitter.svg');
		}

		/* Instagram */

		&[href*='instagram.com']::before {
		  background-image: url('../img/icons/social-networks/instagram.svg');
		}

		/* Linkedin */

		&[href*='linkedin.com']::before {
		  background-image: url('../img/icons/social-networks/linkedin.svg');
		}
	}
}
