// ========== VARIABLES ========== //

//---------- SUMMARY ----------//
// SCAFFOLDING
// PAGE TITLE
// PAGE SUBTITLE
// TITLE
// SUBTITLE
//---------- END SUMMARY ----------//


// SCAFFOLDING
$content-box-bg:            #FFF;
$content-box-padding:       20px;

$border-radius-sm:          5px;
$border-radius-md:          20px;
$border-radius-lg:          100px;


// PAGE TITLE
$page-title-size:         1.286rem; /* 18/14 */
$page-title-color:        $text-color;


// PAGE SUBTITLE
$page-subtitle-size:      1rem; /* 14/14 */
$page-subtitle-color:     $text-color;


// TITLE
$title-size:              1.143rem; /* 16/14 */
$title-color:             $page-title-color;


// SUBTITLE
$subtitle-size:           1rem; /* 14/14 */
$subtitle-color:          $page-subtitle-color;
